<div class="container" *ngIf="product">
    <div class="product-header">
        <div class="product-name">{{ product.name }}</div>
        <div class="product-price">{{ product.price | currency }}</div>
    </div>

    <div class="product-details" >
        <div class="product-image">
            <img [src]="imageURL" />
        </div>
        <div class="product-content">
            <div>
                <button mat-icon-button (click)="share($event)">
                    <mat-icon>share</mat-icon>
                </button>

                <button mat-icon-button (click)="setFavorite($event)">
                    <mat-icon *ngIf="!favoriteId">favorite_border</mat-icon>
                    <mat-icon *ngIf="favoriteId">favorite</mat-icon>      
                </button>

                <ng-container *ngIf="isLoggedIn">
                    <button mat-icon-button *ngIf="!ordered" (click)="order($event)">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                    <button mat-icon-button disabled *ngIf="ordered">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                </ng-container>
            </div>

            <div class="subtitle">Details</div>

            <div class="product-description">{{ product.description }}</div>
        </div>
        
    </div>
</div>
