.menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    button {
        margin: 10px;
    }
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .logo {
        color: #707070;
        font: 900 48px Arial;
        width: 100%;
        text-align: center;
    }

    .circle-image {
        background-size: cover;
        border-radius: 50%;
        height: 120px;
        width: 120px;
        margin: 0 15px;
    }

    .phone-hand {
        order: 1;
    }

    .happy-woman {
        order: 2;
        background-position: center;
    }
}

.divider {
    margin: 15px 0 20px 0;
}

@media only screen and (min-width: 576px) {
    .header {
        flex-direction: row;
        align-items: center;

        .phone-hand {
            order: 0;
        }
    
        .circle-image { 
            margin: 15px 45px;
        }

        .logo {
            order: 1;
            width: auto;
        }
    
        .happy-woman {
            order: 2;
        }
    }

    .divider {
        margin: 0 0 20px 0;
    }
}
