<div class="menu">
  <button mat-stroked-button color="primary" (click)="login()" *ngIf="!isLoggedIn">Login</button>

  <ng-container *ngIf="isLoggedIn">
    <button mat-icon-button color="primary" (click)="syncData()">
      <mat-icon *ngIf="!isSynced" matBadge="!" matBadgeColor="warn">sync</mat-icon>
      <mat-icon *ngIf="isSynced">sync</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="goToShoppingPage()">
      <mat-icon *ngIf="!countOrderedProducts">shopping_cart</mat-icon>
      <mat-icon *ngIf="countOrderedProducts" matBadge="{{ countOrderedProducts }}" matBadgeColor="accent">shopping_cart</mat-icon>
    </button>
    
    <button mat-stroked-button color="primary" (click)="logout()">Logout</button>
  </ng-container>
</div>
<div class="header" [routerLink]="['/']">
  <div class="circle-image phone-hand" [style.background-image]="imagePhoneHand"></div>
  <div class="logo">SHOP 2</div>
  <div class="circle-image happy-woman" [style.background-image]="imageHappyWoman"></div>
</div>

<mat-divider class="divider"></mat-divider>

<router-outlet></router-outlet>
