<mat-card class="product-card" [routerLink]="['/product/details', product.id]">
    <mat-card-header>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="imageURL" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{ product.shortDescription }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button (click)="share($event)">
        <mat-icon>share</mat-icon>
      </button>
      
      <button mat-icon-button (click)="setFavorite($event)">
        <mat-icon *ngIf="!favoriteId">favorite_border</mat-icon>
        <mat-icon *ngIf="favoriteId">favorite</mat-icon>      
      </button>

      <ng-container *ngIf="isLoggedIn">
        <button mat-icon-button *ngIf="!ordered" (click)="order($event)">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
        <button mat-icon-button disabled *ngIf="ordered">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </ng-container>
    </mat-card-actions>
</mat-card>