.container {
    padding: 15px;
}

.subtitle {
    font-size: 18px;
    text-align: center;
}

.product {
    &-header {
        text-align: right;
        margin-bottom: 20px;
    }

    &-details {
        display: flex;
        flex-direction: column;
    }

    &-content {
        margin-top: 20px;
    }

    &-name {
        font-size: 18px;
        font-weight: bold;
    }

    &-description {
        margin-top: 20px;
    }

    &-image {
        text-align: center;

        img {
            width: 90%;
        }
    }
}

@media only screen and (min-width: 768px) {
    .product {
        &-header {
            margin-bottom: 60px;
        }

        &-details {    
            flex-direction: row;
        }

        &-content {
            margin-top: 0;
            width: 50%;
        }

        &-image {
            text-align: unset;
            width: 50%;

            img {
                width: 95%;
            }
        }
    }
}
        
