<div class="shopping-cart">
    <h2>Shopping Cart</h2>

    <div *ngIf="fromStorage">From Storage</div>

    <table mat-table [dataSource]="products" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let product"> {{product.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let product"> {{product.price}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <button mat-raised-button color="primary" class="checkout-btn" (click)="checkoutOrder()" [disabled]="!orderId || isCheckout">Checkout</button>
</div>